*{
    font-family: 'Segoe UI Semilight', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    overflow-x: hidden;
}

header{
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background: #FFF;
    border-bottom: #E6E6E6 inset 1px;
    overflow: hidden;
}

.leftIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    margin-left: 5px;
}

.rightIcons{
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin-right: 5px;
}



.label{
    height: 50px;
}

.search{
    height: 25px;
    width: 200px;
    border-radius: 4px; 
    border: #E6E6E6 solid 1px;
    text-align: center;
    color: #595959;
}

.feed{
    min-height: calc(100vh - 157px);
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.post{
    display: flex;
    margin: 15px 0px;
    border: #E6E6E6 solid 1px;
}

.photoBase{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    overflow: hidden;
}

.photo{
    width: 500px;
}

.controlPanel{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #FFFFFF;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 5px 0px 0px 5px;
    height: 35px;
}

.ava{
    height: 30px;
    margin-right: 3px; 
    border-radius: 15px;
    border: #E6E6E6 solid 1px;
}

.comments{
    padding: 5px;
    height: 318px;
    overflow-y: auto;
}

.notice{
    font-weight: normal;
    margin-bottom: 10px; 
}

.comment{
    margin: 4px 0px;
    font-size: 14px;
}

.userName{
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.info{
    padding: 5px 2px 2px 2px;
    height: 73px;
    border-top: #E6E6E6 solid 1px;
}

.postButtons{
    position: relative;
    height: 30px;
    width: 100%;
}

.numOfLikes{
    font-family: 'Segoe UI Light', sans-serif;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
}

.timeOfPost{
    font-family: 'Segoe UI Light', sans-serif;
    padding-left: 8px; 
    font-size: 13px;
    color: #aaaaaa; 
}

.addComment{
    padding: 8px 8px;
    height: 34px;
    width: 284px;
    border: none;
    border-top: #E6E6E6 solid 1px;
    color: #757575;
    font-size: 15px;
}

.loadMoreButton{
    width: 822px;
    height: 40px;
    cursor: pointer;
    background: #ffffff;
    border: #E6E6E6 solid 1px;
    color: #757575;
    font-size: 15px;

    transition-duration: 0.5s;
}

.loadMoreButton:hover{
    background: #E6E6E6;
}

.loadMoreButton:active{
    background: #ffffff;
}

footer{
    margin-top: 15px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border: #E6E6E6 solid 1px;
}

.footerLabel{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.footerLabelImg{
    height: 15px;
    margin: 0px 0px 1px 3px;
}

.footerCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe{
    margin-bottom: 3px;
    font-size: 13px;
    color: #aaaaaa;
}

.lastExchange{
    font-size: 10px;
    color: #aaaaaa;
}

button:hover{
    cursor: pointer;
}

.like{
    position: absolute;
    left: 0px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    background-image: url(../images/like.svg);
    background-size: cover;
}

.liked{
    background-image: url(../images/liked.svg);
}

.share{
    position: absolute;
    left: 35px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    background-image: url(../images/share.svg);
    background-size: cover;
}

.shared{
    background-image: url(../images/shared.svg);
}

.like:active{
    height: 24px;
    width: 24px;
    left: 3px;
    top: 3px;
    transition-duration: 0.01s;
}

.counter{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.sharePanel{
    position: absolute;
    left: 65px;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.shareBttn{
    height: 27px;
    width: 27px;
    border: none;
    background-color: white;
    background-size: cover;
}

.copyLink{
    background-image: url(../images/link0.svg);
}

.inInstagram{
    background-image: url(../images/instagram.svg);
}

.inFacebook{
    background-image: url(../images/facebook.svg);
}

.inTwitter{
    background-image: url(../images/twitter.svg);
}

.inVk{
    background-image: url(../images/vk.svg);
}

.inWatchMe{
    background-image: url(../images/sendToFriend.svg);
}

.hider{
    position: absolute;
    height: 30px;
    width: 231px;
    right: 0px;
    background: #FFFFFF;
    transition-duration: 0.2s;
}

.hiderOn{
    width: 0px;
    transition-duration: 0.2s;
}